<!DOCTYPE html>
<html>
    <head>
        <title>{{ game }}</title>
    </head>
    <body>
        {% with errors = get_flashed_messages() %}
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endwith %}
        <form action="bet" method="GET">
            <label>Spending Amount</label>
            <br/>
            <input type="submit" name="spending_amount" value="2"/>
            <br/>
            <input type="submit" name="spending_amount" value="10"/>
            <br/>
            <input type="submit" name="spending_amount" value="20"/>
            <br/>
            <input type="submit" name="add_funds" value="Add funds">
            <br/>
            <input type="submit" name="go_back" value="Go back">
            <br/>
            <input type="submit" name="instruction" value="Instructions">
        </form>
    </body>
</html>
