{% extends 'template_with_nav.html' %}

{% block title %}
Games
{% endblock %}

{% block body %}
    <br>
    <center><p>Pokemon Versus</p></center>
    <center><a href="/pokemon"><img src="https://cdn.pixabay.com/photo/2016/07/23/13/18/pokemon-1536849_1280.png" alt="To Pokemon Battle" style="width:100px;height:100px;border:0;"></a></center>
    <br>
    <br>
    <center><p>Rick and Morty Trivia</p></center>
    <center><a href="/rickandmorty"><img src="https://help.redbubble.com/hc/article_attachments/360002309526/Rick_and_Morty_-_logo__English_.png" alt="To Rick and Morty" style="width:200px;height:100px;border:0;"></a></center>
    <br>
    <br>
    <center><p>To21</p></center>
    <center><a href="/to21"><img src="https://cdn.pixabay.com/photo/2017/10/24/21/49/playing-cards-2886284_1280.png" alt="To To21" style="width:100px;height:100px;border:0;"></a><center>
{% endblock %}
