<!DOCTYPE html>
<html>

  <style type="text/css">
    div{ border: 1px solid #000; }
    body { background: green !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    a { text-decoration: underline !important;}
  </style>

  <head>
    <title>To21 Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
    <br>
    <div class="p-3 mb-2 bg-danger text-white" style="font-size:35px;"><center>Welcome to To21!</center></div>
    <br>
    <center><span class="border border-danger"><span class="border border-danger"><span class="border border-danger"><span class="border border-danger"><span class="border border-danger"><img src="https://cdn.pixabay.com/photo/2015/11/07/11/08/cards-1030852_1280.jpg" alt="To21!" style="width:800px;height:425px;"></span></center>
    <br>
    <center><a href="/bet" class="text-white">Proceed</a></center>
    <br>
    <div class="fixed-bottom"><div class="p-3 mb-2 bg-danger text-white" style="font-size:2px;"><center>MAWD takes no responsibility in any psychological damage dealt to the user. One plays these games at their own risk.</center></div></div>
  </body>

</html>
