<!DOCTYPE html>
<html>
<style type="text/css">
  div{ border: 1px solid #000; }
  body { background: green !important; }
  a { text-decoration: underline !important;}
</style>

    <head>
        <title>To21 Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <br>
        <div class="p-3 mb-2 bg-danger text-white" style="font-size:35px;"><center>Rules of To21</center></div>

        <center><p class="text-white"> To21 starts with players making wagers </p></center>

        <center><p class="text-white"> The dealer deals 2 cards to the players and two to himself (1 card face up, the other face down) </p></center>

        <center><p class="text-white"> All cards count their face value in blackjack.
                    Picture cards count as 10 and the ace can count as either 1 or 11. </p></center>

        <center><p class="text-white">Card suits have no meaning in To21.
        The total of any hand is the sum of the card values in the hand</p></center>

        <center><p class="text-white"> Players must decide whether to stand or hit.
                    By hitting, the player draws another card.
                    By standing, the player chooses to keep their hand as is</p></center>

        <center><p class="text-white"> The dealer acts last </p></center>

        <center><p class="text-white"> Players win when their hand totals higher than dealer’s hand.
                    Or, they have 21 or less when the dealer busts (i.e., exceeds 21) </p></center>

        <center><p class="text-white">If the player, wins they recieve twice back their wager</p></center>

        <center><p class="text-white">If the player, loses they lose their wager</p></center>

        <center><p class="text-white">If there is a tie, the player simply keeps their wager</p></center>

        <center><p class="text-white">Lastly, have fun!</p></center>

        <p class="text-white"><center>
        <center><a href="/to21" class="text-white">Back</a></center>

        <br>
        <br>
        <div class="fixed-bottom"><div class="p-3 mb-2 bg-danger text-white" style="font-size:2px;"><center>MAWD takes no responsibility in any psychological damage dealt to the user. One plays these games at their own risk.</center></div></div>
        <a class="play_instructions btn btn-warning" href="/to21">Start Playing</a>
    </body>
</html>
