<!--
errors (list of str): Error messages from flash()
currencies (list of str): Currencies supported
-->
{% extends "template_with_nav.html" %}
{% block title %}
    Payment
{% endblock %}
{% block body %}
    {% with errors = get_flashed_messages() %}
        <ul>
            {% for error in errors %}
                <li class="text-danger">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endwith %}
    <h1 class="text-center">Redeem MAWDollars</h1>
    <form action="/redeem/processed" method="POST" class="container-fluid">
        <div class="mb-3">
            <label>Paypal Email Address</label>
            <input class="form-control" type="email" name="email" required>
        </div>

        <div class="mb-3">
            <label>MAWDollars to withdraw. WHOLE NUMBERS only.</label>
            <input class="form-control" type="number" name="amount" min="0">
        </div>

        <div class="mb-3">
            <label>Currency</label>
            <select class="form-control" name="currency">
                {% for currency in currencies %}
                    <option value="{{ currency }}"> {{ currency }} </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <input class="btn btn-success" type="submit" value="Redeem!">
        </div>
    </form>
{% endblock %}